[
	{
		"service": "Videos",
		"operation": "Edit",
		"arguments": [
			{{.VideoID}},
			{
				"name": "{{.Title}}",
				"description": "{{.Description}}",
				"privacy": {
					"add": false,
					"download": {{.Downloadable}},
					"embed": "public",
					"comments": "nobody",
					"view": "{{.Visibility}}"
				}
			}
		]
	},
	{
		"service": "Videos",
		"operation": "AssignPreset",
		"arguments": [
			{{.VideoID}},
			{{.PresetID}}
		]
	},
	{
		"service": "Users",
		"operation": "AlbumAddVideo",
		"arguments": [
			"",
			"{{.AlbumID}}",
			{{.VideoID}}

		]
	}
]
